extends layout

block content
  .jumbotron.centered
    .container
      i.fas.fa-key.fa-6x
      h1.display-3 Secrets
      p.lead Don't keep your secrets, share them anonymously!
      hr
      a.btn.btn-light.btn-lg(href="/register" role="button") Register
      a.btn.btn-dark.btn-lg(href="/login" role="button") Login