extends layout

block content
  .container.mt-5
    h1 Register

    .row
      .col-sm-8
        .card
          .card-body

            form(action="/register" method="POST")
              .form-group
                label(for="email") Email
                input.form-control(type="email" name="username")
              .form-group
                label(for="password") Password
                input.form-control(type="password" name="password")
              button.btn.btn-dark(type="submit") Register

        .card.social-block
          .card-body
            a.btn.btn-block(href="/auth/google" role="button")
              i.fab.fa-google
              p Sign Up with Google
