extends layout

block content
  .jumbotron.text-center
    .container
      i.fas.fa-key.fa-6x
      h1.display-3 You've Discovered My Secret!
      each secret in (secrets || ['No secrets!'])
        p.secret-text= secret

      hr

      a.btn.btn-light.btn-lg(href="/logout" role="button") Log Out
      a.btn.btn-dark.btn-lg(href="/submit" role="button") Submit a Secret
