extends layout

block content
  .jumbotron.text-center
    .container
      i.fas.fa-key.fa-6x
      h1.display-3 You've Discovered My Secret!
      p.secret-text Jack Bauer is my hero.
      hr

      a.btn.btn-light.btn-lg(href="/logout" role="button") Log Out
      a.btn.btn-dark.btn-lg(href="/submit" role="button") Submit a Secret
